# Unity generated
Library/
Temp/
Obj/
Logs/
UserSettings/
MemoryCaptures/
Recordings/
Build/
Builds/

# IDE / OS
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store

# Crash reports
sysinfo.txt
crashlytics-build.properties
